<template data-controller-name="web.web.controller.View1">
	<div id="app" data-sap-ui-type="sap.m.App">
		<div id="page" data-sap-ui-type="sap.m.Page" data-title="{i18n>title}">
			<div data-sap-ui-aggregation="content">
			</div>
		</div>
	</div>
</template>